<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/event.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (events.length > 0) { %>
            <div class="grid">
                <% for (let event of events) { %>
                    <article class="card event-item">
                        <header class="card__header">
                            <h1 class="event__title">Title: <%= event.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= event.imageURL %>" alt="<%= event.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="event__price">Price: <%= event.price %> €</h2>
                            <p class="event__description">Description: <%= event.description %></p>
                            <p class="event__date">Date: <%= event.fecha.toDateString() %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/events/<%= event._id %>" class="btn">Details</a>
                            <!-- You can add more actions here if needed -->
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Events Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>
